body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #5e0303;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    background-color: #5fa6f1;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #184c85;
  }
  